.container {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding: 0%;
    background: url(../images/skyscraper.jpeg) no-repeat center;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

@keyframes OPlist {
    from {
        background-color: red;
        border-left-width: 20px;
        border-style: double;
        color: yellow;
        overflow-y: hidden;
    }
    to {
        border-right-width: 20px;
        border-style: double;
        background-color: tomato;
    }
}
header {
    animation-name: OPlist;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

header h5 {
    border: 5px;
    background-color: darkkhaki;
    margin-bottom: 0%;
}

#input {
    margin-top: 50px;
    width: 75%;
    display: inline-block;
    text-align: start;   
}

a {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: red;
    font-weight: bold;
    font-size: 17px;
}

#footer {
    font-style: italic;
    background-color :darkkhaki;
    margin-top: 45%;
}
