@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&display=swap');
{
    font-family: 'Montagu Slab', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
{
    font-family: 'Outfit', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #CCFFBD;
    font-family: 'Outfit', sans-serif;;
}

header{
    text-align: center;
    margin-top: 100px; 
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    min-width: 45%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50%;
    
}
.logo-box{
    text-align: right;
    padding: 10px;
}
.logo-title{
    margin: 0;
    color: #1C1427;
    font-size: 40px;
    font-family: 'Montagu Slab', serif;
}
.logo-slogan{
    margin: 0;
    color: #40394A;
}
.logo-desc{
    text-align: center;
    font-size: 20px;
    padding: 30px;
    color: #40394A;
    font-family: 'Outfit', sans-serif;
}
form{
    width: 100%;
    display: flex;
    align-items: flex-end;
    border: #740394A;
    border-width: 5px;
}
#input{
    width: 100%;
    padding: 13px;
    border: none;
    outline:  none;
    font-family: 'Outfit', sans-serif;
    font-size: 17px;
}

#search{
    padding: 14.8px;
    border: none;
    outline: none;
    background-color: white;
}
#search:hover{
    background-color: #345B63;
}
footer{
    font-size: 20px;
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
    
}
#copyright{
    font-size: 14px;
}
#contact-link a{
    color: #40394A;
    font-weight: 600;
    text-decoration: none;
}
